@import "theme";

.animate {
  transition: all 0.1s;
}

.draw-tool-button {
  border-radius: $btnBorderRadius;
  color: $white;
  height: 40px;
  padding-top: 5px;
  padding-left: 5px;

  &:active {
    transform: translate(0px, 3px);
    border-bottom: 1px solid !important;
  }

  &:focus {
    outline: none;
  }

  &.active {
    background-color:	$orange !important;
    border-bottom: 3px solid $darkOrange !important;
    text-shadow: 0px -2px $brown !important;
  }

  &.green {
    background-color: $lightGreen;
    border-bottom: 3px solid $darkGreen;
    text-shadow: 0px -2px $darkGreen;
  }
}
