@import "theme";

.animate {
  transition: all 0.1s;
}

.draw-tool-button {
  position: relative;
  border: none;
  width: 60px;
  height: 40px;
  background: $lightGrey;

  #circle-draw-tool {
    padding-top: 3px;
  }

  #rect-draw-tool {
    padding-top: 3px;
  }

  &:focus {
    outline: none;
  }

  &.active {
    background: white;

    &:before, &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: $rainbowLinearGradient;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background-size: 400%;
      z-index: -1;
      animation: animate 20s linear infinite;
    }

    &:after {
      filter: blur(4px);
    }
  }

  @keyframes animate {
    0%
    {
      background-position: 0 0;
    }
    50%
    {
      background-position: 300% 0;
    }
    100%
    {
      background-position: 0 0;
    }
  }
}

//.draw-tool-button {
//  border-radius: $btnBorderRadius;
//  color: $white;
//  height: 40px;
//  padding-top: 5px;
//  padding-left: 5px;
//
//  &:active {
//    transform: translate(0px, 3px);
//    border-bottom: 1px solid !important;
//  }
//
//  &:focus {
//    outline: none;
//  }
//
//  &.active {
//    background-color:	$orange !important;
//    border-bottom: 3px solid $darkOrange !important;
//    text-shadow: 0px -2px $brown !important;
//  }
//
//  &.green {
//    background-color: $lightGrey;
//    border-bottom: 3px solid $lightGreyText;
//    text-shadow: 0px -2px $lightGreyText;
//  }
//}
