$lightGrey: #D9D9D9;
$lightGreyText: #959595;
$white: #FFFFFF;
$lightGreen: #82BF56;
$darkGreen: #669644;
$orange: #FFA500;
$darkOrange: #c37600;
$brown: #734400;

$rainbowLinearGradient: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);

$btnBorderRadius: 5px;
