<div class="left-toolbar-draw-options-container">
  <p class="left-toolbar-draw-options-title">Параметры</p>
  <div class="left-toolbar-draw-options-color">
    <span>
      <label>Цвет:</label>
      <!--<input class="draw-tool-color-picker"-->
             <!--[(colorPicker)]="sls.getDrawTools().getCurrentDrawToolColor()"-->
             <!--(colorPickerChange)="drawingToolExampleElement()"-->
             <!--[style.background]="sls.getDrawTools().getCurrentDrawToolColor()"/>-->
    </span>
    <span>
      <label>Размер: </label>{{selectedSize}}px
      <input class="draw-tool-size-picker"
             type="range"
             [min]="5"
             [max]="30"
             (input)="drawToolSizePickerChanged($event)">
    </span>
    <span id="draw-tool-example-element"></span>
  </div>
</div>
