#app-layout {
  display: grid;
  grid-template-columns: 1fr;
  .main-panel {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-container {
    @extend .main-panel;
    grid-template-columns: 50px 1fr;

    .left-toolbar {

    }

    .svg-layout {

    }
  }
}
