.left-toolbar-container {
  width: 100%;
  height: 500px;

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }

  .left-toolbar-draw-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;

    button {
      width: 45px;
    }

    .left-toolbar-separator {
      margin-top: 5px;
      margin-bottom: 5px;
      border-top: 1px solid black;
    }
  }
}
