<div class="left-toolbar-container">
  <div class="left-toolbar-draw-tools">
    <button type="button" class="btn-info" (click)="selectDrawTool($event)"><fa name="pencil" size="2x"></fa></button>
    <button type="button" class="btn-info" (click)="selectDrawTool($event)"><fa name="paint-brush" size="2x"></fa></button>
    <div class="left-toolbar-separator"></div>
    <div class="left-toolbar-separator"></div>
    <button type="button" class="btn-info" (click)="selectDrawTool($event)"><fa name="hand-paper-o" size="2x"></fa></button>
    <button type="button" class="btn-info" (click)="selectDrawTool($event)"><fa name="eraser" size="2x"></fa></button>
  </div>
  <div class="left-toolbar-draw-options">

  </div>
</div>
